:root {

    --ff: 'Roboto';
    /* Color Scheme */
    --light-red: hsl(5, 61%, 93%);
    --red: hsl(4, 100%, 67%);
    --blue-800: hsl(234, 29%, 20%);
    --blue-700: hsl(235, 18%, 26%);
    --grey: hsl(0, 0%,58%);
    --white: hsl(0, 0%, 100%);

}

body {
    background-color: var(--blue-800);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-card {
    background-color: var(--white);
    width: 50rem;
    height: 35rem;
    border-radius: 2rem;
    display: flex;
}

.sign-up-form {
    width: 25rem;
    padding-top: 3rem;
    padding-left: 2rem;
    font-family: var(--ff);
    font-size: 16px;
}

.sign-up-form h2 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.sign-up-form p {
    font-weight: 400;
}

.sign-up-form ul {
    list-style: none;
    padding: 0;
}
.sign-up-form li {
    background: url(./assets/images/icon-list.svg) left center no-repeat;
    padding: 3px;
    padding-left: 40px;
    margin-bottom: 10px;
}

.sign-up-form li span {
    top: -30px;
}

.sign-up-form form {
    display: flex;
    flex-direction: column;
    width: 23rem;
}

.sign-up-form .email-form{
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    font-weight: 700;
    font-size: 14px;
    position: relative;
    margin-top: 1rem;
}

.email-form input{
    padding: 1rem;
    margin-top: 0.5rem;
    border-radius: 10px;
    border: 2px solid var(--grey);
}

.sign-up-form button {
    padding: 1rem;
    border-radius: 10px;
    border: none;
    background-color: var(--blue-700);
    color: var(--white);
    font-weight: 700;
}

.sign-up-form button:hover {
    background-color: var(--red);
}

#email-error {
    position: absolute;
    color: var(--red);
    font-size: 0.8rem;
    display: none;
    right: 0;
}

.main-card .image{
    width: 23rem;
    margin: 1rem;
    display: flex;
}
