:root {

    --ff: 'Roboto';
    /* Color Scheme */
    --light-red: hsl(5, 61%, 93%);
    --red: hsl(4, 100%, 67%);
    --blue-800: hsl(234, 29%, 20%);
    --blue-700: hsl(235, 18%, 26%);
    --grey: hsl(0, 0%,58%);
    --white: hsl(0, 0%, 100%);

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
    background-color: var(--blue-800);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-card {
    background-color: var(--white);
    max-height: 35rem;
    border-radius: 2rem;
    display: flex;
}

.sign-up-form {
    width: 25rem;
    padding-top: 5rem;
    padding-left: 2rem;
    font-family: var(--ff);
    font-size: 16px;
}

.sign-up-form h2 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.sign-up-form p {
    font-weight: 400;
    margin-bottom: 2rem;
}

.sign-up-form ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

.sign-up-form li {
    background: url(./assets/images/icon-list.svg) left center no-repeat;
    padding: 3px;
    padding-left: 40px;
    margin-bottom: 10px;
}

.sign-up-form li span {
    top: -30px;
}

.sign-up-form form {
    display: flex;
    flex-direction: column;
    width: 23rem;
}

.sign-up-form .email-form{
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    font-weight: 700;
    font-size: 14px;
    position: relative;
    margin-top: 1rem;
}

.email-form input{
    padding: 1rem;
    margin-top: 0.5rem;
    border-radius: 10px;
    border: 2px solid var(--grey);
}

.sign-up-form button {
    padding: 1rem;
    margin-bottom: 23em;
    border-radius: 10px;
    border: none;
    background-color: var(--blue-700);
    color: var(--white);
    font-weight: 700;
}

.sign-up-form button:hover {
    background-color: var(--red);
}

#email-error {
    position: absolute;
    color: var(--red);
    font-size: 0.8rem;
    right: 0;
}

.image{
    order: 2;
    margin: 1rem;
    border-radius: 1rem;
    overflow: hidden;
}

@media (max-width: 900px) {
    .main-card {
        flex-direction: column;
        max-height: none;
        border-radius: 0;
    }

    .sign-up-form {
        order: 2;
        width: 23rem;
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .sign-up-form form{
        width: 21rem;
    }

    .sign-up-form button {
        margin-bottom: 2rem;
    }

    .image {
        margin: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
        object-fit: contain;
    }
    
}
